<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet/less" href="/static/less/style.less">
	<script src="/static/js/libs/less-1.3.0.min.js"></script>

	<!-- Use SimpLESS (Win/Linux/Mac) or LESS.app (Mac) to compile your .less files
	to style.css, and replace the 2 lines above by this one:

	<link rel="stylesheet" href="less/style.css">
	 -->

	<script src="/static/js/libs/modernizr-2.5.3.min.js"></script>
	<style>body{background-color:#500000}</style>
</head>
<body>

	
    <div class="container">
      <div class="row">
        <div id="tweetsearch" class="span12">
          <h2><font color="#FFFFFF">LoL Rec:</font></h2>
          <form class="well form-inline">
            <input name="query" type="text" class="input-xlarge" placeholder="search">
            <button type="submit" class="btn">Search</button>
          </form>
          <div class="results well hide">
          </div>
        </div>
      </div>

    </div> <!-- /container -->

<script id="alert_template" type="text/template">
  <div class="alert">
    <button class="close" data-dismiss="alert">×</button>
    <strong>Error!</strong><p><%- error %></p>
  </div>
</script>

<script id="tweet_template" type="text/template">
  <div class="tweet">
    <a href="https://twitter.com/<%- t.user.screen_name %>/status/<%- t.id %>" class="orig_tweet">original</a>
    <img class="profile" src="<%- t.user.profile_image_url_https %>" width="48" height="48" />

    <div class="user_info">
      <p>
        <%- t.user.name %>
        <% for(var x=0;t.stars && x<t.stars;x++) { %>
          <img class="star" src="/static/img/star.png" width="18" height="18" />
        <% } %>
      </p>
      <a href="https://twitter.com/<%- t.user.screen_name %>">@<%- t.user.screen_name %></a>
    </div>

    <p class="body">
      <% if (t.sentiment==="positive") { %>
        <img class="sentiment" src="/static/img/plus.png" width="18" height="18" />
      <% } else if (t.sentiment==="negative") { %>
        <img class="sentiment" src="/static/img/minus.png" width="18" height="18" />
      <% } %>
      <%- t.text %>
    </p>
  </div>
</script>

<script id="result_template" type="text/template">
  <p class="result_message">
    Found <%- count %> champions in <%- time.toFixed(3) %> seconds.
  </p>
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.7.2.min.js"><\/script>')</script>

<script src="/static/js/libs/bootstrap/bootstrap.min.js"></script>
<script src="/static/js/libs/underscore-min.js"></script>

<script src="/static/js/plugins.js"></script>
<script src="/static/js/script.js"></script>
</body>
</html>
